PORT=3000
WEATHER_API_KEY=your_weather_api_key_here
MAPS_API_KEY=your_maps_api_key_here
HOTEL_API_KEY=your_hotel_api_key_here
AI_API_KEY=your_ai_api_key_here
UNSPLASH_API_KEY=your_unsplash_api_key_here
